*{
  margin: 0;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v9/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    src: local('ABeeZee Regular'), local('ABeeZee-Regular'), url(https://fonts.gstatic.com/s/abeezee/v11/TV7JXr7j4tW7mgYreANhGQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body{
  background: white no-repeat;
  background-size: cover;
    font-family: 'ABeeZee';
  height: 100%;
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
}

a{
  color: #000000; text-decoration: none;
}

.header{
  /*background-color: #FFFFFF; width: 100%; height: 100px;*/
  background-color: #FFFFFF; width: 100%; height: 7.2em;
  position: relative;
  top: 0;
  text-align: right;
  margin-bottom: 1%;
}

.header_gauche{
  background:no-repeat;
  background-size: cover;
  width:40%;
  height: auto; float: left;
  margin: 2% 2% auto auto;
  position: relative;
  text-align: center;
}

.header_gauche_menu{
  background-size: cover;
  width:50%;
  height: auto; float: left;
  position: relative;
  text-align: center;
}

.header_gauche_logo{
  background:no-repeat;
  background-size: cover;
  width: auto;
  height: 40%; float: right;
  margin-top: 0;
}

.header_droite{
  background:no-repeat;
  background-size: cover;
  width:40%;
  height: 10%; float: right;
  margin: 2% 2% auto auto;
  position: relative;
  text-align: right;
}

.footer{
    border: 1px solid white;
  background-color: #EEEEEE; width: 100%; height: 3%;
    float: right;
  position:fixed;
  bottom: 0;
  margin: 0 auto;
}

.footer_gauche{
  background:no-repeat;
  background-size: cover;
  width:30%;
  height: 100%; float: left;
    margin: 0 auto;
  position: relative;
  text-align: center;
}

.footer_droite{
  background:no-repeat;
  background-size: cover;
  width:20%;
  height: 100%; float: right;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.clear{
  clear: both;
}

/* ACCUEIL */

.header_gauche a, .header_droite a
{
  border-bottom: 1px solid;
}


#conteneur_accueil{

  margin: 0 auto; width: 100%; height: auto;
}

.zone1_accueil{
  background:url(../../inc/img/Screen.png) no-repeat;
  background-size: cover;
  width: 100%; height: 300px;
  text-align: center;
  margin-top: 1%;
  /*margin: 30px 100px auto 80px;*/
  
}

.zone2_accueil{
  background-color: white;
  height: auto;
  position: relative;
  text-align: justify;
  font-size: 1em;

}

.recherche_accueil{
  background:#ffffff no-repeat;
  background-size: cover;
  opacity: 0.85;
  width:50%;
  height: 25%; float: right;
  margin: 10% 25% 5%;
  border-radius: 10px;
  text-align: center;
}

/* LOCATION */

#conteneur_location{
  margin: 0 auto; width: 100%; height: auto;
}

.zone1_location{
  background:url(../../inc/img/Screen.png) no-repeat;
  background-size: cover;
  width: 100%; height: 300px;
    margin-top: 1%;
}

.zone2_location{
  background-color: #efefef;
  width: 100%; height: 500px;
  position: relative;border-radius: 10px;
  margin: 10px auto 10px auto;
}

.zone3_location{
  background-color: #f0f0f0;
  width: 100%; height: 500px;
  position: relative;border-radius: 10px;
  margin: 10px auto 10px auto;
}

.louer{
  background:#ffffff no-repeat;
  background-size: cover;
  opacity: 0.95;
  width:40%;
  height: 72px; float: right;
  margin: 100px 450px auto auto;
  border-radius: 10px;
  text-align: center;
  line-height: 80px;
}

.recherche_location{
  background:#ffffff no-repeat;
  background-size: cover;
  opacity: 0.85;
  width:60%;
  height: 72px; float: right;
  margin: 10px 250px auto auto;
  border-radius: 10px;
  text-align: center;
}

.inscrip {
  margin: 3em 15em 0 19em;
  background-color: #EEEEEE;
  border-radius: 50px;
}

.tableinscrip{
  margin-left: 17em;
  border-spacing: 20px 5px;
}

/* RECHERCHE DE VEHICULE */

.vehicule{
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
    border:1px solid  #f0f0f0;
    overflow : hidden;
}

.vehicule img{
    height: 120px; width: auto;
}

.vehicule .info{
    float: left;
    margin: 0 3%;
    border: 1px solid  #f0f0f0;
    height: 100%;
}

.duree_location{
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
}

/* ADMINISTRATION */

.admin{
    text-align: center;
    list-style-position: inside;
}

.admin table{
    margin: 0 auto;
}

.lien{
  background-color: #E5E5E5;
  border-radius: 1px;
  border: 1px solid #A2A2A2;
  padding: 2px 4px 2px 4px;

}
.lien:hover{
  color: black;
  background-color: #E5E5E5;
  border: 1px solid #787878;

}

.bouton{
    width: 2em;
}

.conteneur_contact{
  text-align: center;
  list-style-position: inside;
}

/* COMPTE */

.compte{
    text-align: center;
    list-style-position: inside;
    margin: 0 auto;
}

.compte table{
    margin: 0 auto;
}

.compte a{
    background-color: #E5E5E5;
    border-radius: 1px;
    border: 1px solid #A2A2A2;
    padding: 2px 4px 2px 4px;
    margin: 0 5%;
}

.facture{
    margin:5% 20%;
    overflow : hidden;
}

.facture .achat, .facture .vente{
    background-color: #E5E5E5;
    margin: 0 5%;
}

.facture .achat p{
    background-color: #C09797;
}
.facture .vente p{
    background-color: #9ABA97;
}

.facture .achat h3{
    color: red;
}

.facture .vente h3{
    color: green;
}
