/* COMMUN */

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), url(https://fonts.gstatic.com/s/nunito/v9/cSNs3NwpEgPVRQzvkh3NeQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body{
  background: white no-repeat;
  background-size: cover;
  height: 100%;
}

a{
  color: #000000; text-decoration: none;
}

.header{
  /*background-color: #FFFFFF; width: 100%; height: 100px;*/
  background-color: #FFFFFF; width: 100%; height: 10%;
  position: relative;
  /* bottom: 0;
  left: 0; */
  text-align: right;
}

.header_gauche{
  background:no-repeat;
  background-size: cover;
  width:40%;
  height: 10%; float: left;
  margin: 2% 2% auto auto;
  position: relative;
  text-align: center;
}

.header_gauche_menu{
  background-size: cover;
  width:50%;
  height: 10%; float: left;
  position: relative;
  text-align: center;
}

.header_gauche_logo{
  background:no-repeat;
  background-size: cover;
  width: auto;
  height: 40%; float: right;
  margin-top: 0;
}

.header_droite{
  background:no-repeat;
  background-size: cover;
  width:40%;
  height: 10%; float: right;
  margin: 2% 2% auto auto;
  position: relative;
  text-align: right;
}

.footer{
  background-color: #EEEEEE; width: 96%; height: 10%;
  border-radius: 10px; float: right;
  position:relative;
  bottom: 0;
  margin: 5% 2% 2% 2%;
}

.footer_gauche{
  background:no-repeat;
  background-size: cover;
  width:30%;
  height: 10%; float: left;
  margin: 0 3% 3% ;
  position: relative;
  text-align: center;
}

.footer_droite{
  background:no-repeat;
  background-size: cover;
  width:20%;
  height: 30px; float: right;
  margin: 20px 0 auto auto;
  position: relative;
  text-align: center;
}

.clear{
  clear: both;
}

/* ACCUEIL */

.header_gauche a
{
  border-bottom: 1px solid;
}

#conteneur_accueil{

  width: 100%; height: 1080px;
}

.zone1_accueil{
  background:url(../../inc/img/Screen.png) no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: auto; height: 40%;
  text-align: center;
  /*margin: 30px 100px auto 80px;*/
  margin: 2% 10% 2%;
}

.zone2_accueil{
  background-color: white;
  width: 95%; height: 40%;
  position: relative;
  padding: 2% 2% 20% ;
  text-align: justify;
  font-size: 1em;

}

.recherche_accueil{
  background:#ffffff no-repeat;
  background-size: cover;
  opacity: 0.85;
  width:50%;
  height: 25%; float: right;
  margin: 10% 25% 5%;
  border-radius: 10px;
  text-align: center;
}

/* LOCATION */

#conteneur_location{
  margin: 0 auto; width: 100%; height:1500px;
}

.zone1_location{
  background:url(../../inc/img/Screen.png) no-repeat;
  background-size: cover;
  width: 100%; height: 300px;
  text-align: center;
}

.zone2_location{
  background-color: #efefef;
  width: 100%; height: 500px;
  position: relative;border-radius: 10px;
  margin: 10px auto 10px auto;
}

.zone3_location{
  background-color: #f0f0f0;
  width: 100%; height: 500px;
  position: relative;border-radius: 10px;
  margin: 10px auto 10px auto;
}

.louer{
  background:#ffffff no-repeat;
  background-size: cover;
  opacity: 0.95;
  width:40%;
  height: 72px; float: right;
  margin: 100px 450px auto auto;
  border-radius: 10px;
  text-align: center;
  line-height: 80px;
}

.recherche_location{
  background:#CFA700 no-repeat;
  background-size: cover;
  opacity: 0.85;
  width:60%;
  height: 72px; float: right;
  margin: 10px 250px auto auto;
  border-radius: 10px;
  text-align: center;
}

.inscrip {
  margin: 6em 6em 6em 30em;
}

.tableinscrip{
  width: 100%;
  border-spacing: 6px;
}

.zone3_location{
  text-align: center;
  color: #b5272e;
}

.zone2_accueil{
  text-align: center;
  color: #b5272e;
}